<fieldset>
<%= simple_form_for(@post) do |p| %>
<%= p.error_notification %>
<div class="form-group">
  
  <%= p.input :title, label: "Title:", input_html: { class: "form-control"}, wrapper:false, label_html: {class: "form-label"}, placeholder: "Title" %>
  <%= p.input :body, label: "Body:", input_html: { class: "form-control" }, label_html: { class: "form-label mt-4" }, placeholder: "What are you thinking about?" %>
  
</div>
<%= p.button :submit, class: "btn btn-primary" %>
<% end %>
</fieldset>